<div class="container" >

  <center><h2>Scan the QR Code</h2>
  <br>
  <a href='http://www.unitag.io/qrcode'><img src='http://www.unitag.io/qreator/generate?crs=lN9VwHAzn44jpWA9cHxlIuPjqoiQb3bCeYOqJGIdcnfoodtUZl0knRRBETN09kor1Ae50fzIfaKBIh8y%252FTNtKMJ5xqg5FiIdZrj9CKE2tTuuvj%252FCw%252BJ664AAecIZp6aOGAHlBi8OgB0b31O5FTedjb0onsGFRDFohnWTetw%252FBKzKCcf%252F1qRnNpNvYa%252BSNLv68crs1fJ7QybD4rf8hapHWWWZHdOS2LrlWLZ2VgI1r3RIenTgGmFIirBt0dsmZEUpsJ8Vq6tCqry264pwkYFXhd9vBrfVQXwC%252F%252F0ckV3TROExiIqqyQ28u89PUsockM8ejR%252FbmmWv5QTjxSLoDR7hfpOzSsQdhIs9fFkBu8QO%252Bw2mbZbN9g0Orqg560mhZNrfYwcYEoY9GTY1MGuymHazctyl9J8I6RGKWZH6y9OTXXZe8u7WfeKMhXiGqMNY7sALb6zY7iogO8rewcYuAsqKz3RZNRjQ4LWplu3oQ6mxcr2CZAT6fWEv7Klxa0gX5MZWI18lekGxi20XDZnxY2FHNXdYMGdEv6zjswQjnxirx4AnyaYwmIZcNP8B09NwC%252B9U&crd=fhOysE0g3Bah%252BuqXA7NPQ7MvAHb7BUU6UJakR4daR0YPZBF9ywo4i1ZMbTBCbruT7JGu7QJNtjBnKC1JSovC6w%253D%253D' alt='QR Code'/></a>
  <h2><a href = "http://www.goqr.me">Or Create QR Code here</a></h2>
  </center><br>
  

</div>
<div class="container">
  <div class="jumbotron">
    <h1>My first testing</h1>
    <p>Mark and jugs project</p> 
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h3>Column 1</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>yow yow this is a testing </p>
    </div>
    <div class="col-sm-4">
      <h3>Column 2</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Column 3</h3>        
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>
</div>





