<div class="container">
  <div class="jumbotron">
    <h1>Table Sample</h1>
    <div>
    <table ng-table="vm.tableParams" class="table" show-filter="true">
    <tr ng-repeat="user in $data">
        <td title="'Name'" filter="{ name: 'text'}" sortable="'name'">
            {{user.name}}</td>
        <td title="'Age'" filter="{ age: 'number'}" sortable="'age'">
            {{user.age}}</td>
    </tr>
    </table>
    </div>
  </div>
</div>